___
##Selecionando dados
___
Importando bibliotecas e classes

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

Criar dados

In [ ]:
# np.arange(valor)
'''Método para gerar valores em um intervalo que retorna um array unidimensional'''

dados = np.arange(100)
dados

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [ ]:
# np.reshape()
'''Método para remodelar o formato de um array. Se nós temos um array
 unidimensional com 8 itens podemos regorganizalo em um conjunto de arrays
 de dois itens cada. Pensem em transforma um array em uma matriz.'''

np.arange(100).reshape((10, 10))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

Selecionar e buscar dados

In [9]:
# indice
'''Quando você escreve um par de colchetes com um índice dentro
 deles, o Python entende que ele precisa selecionar e buscar todas
 as entradas com aquele índice.'''

indice = ['lin 1', 'lin 2', 'lin 3', 'lin 4', 'lin 5',
           'lin 6', 'lin 7', 'lin 8', 'lin 9', 'lin 10',
           'lin 11', 'lin 12', 'lin 13', 'lin 14', 'lin 15',
           'lin 16', 'lin 17', 'lin 18', 'lin 19', 'lin 20',
           'lin 21', 'lin 22', 'lin 23', 'lin 24', 'lin 25']
serie = Series(np.arange(25), index=indice)
serie

lin 1      0
lin 2      1
lin 3      2
lin 4      3
lin 5      4
lin 6      5
lin 7      6
lin 8      7
lin 9      8
lin 10     9
lin 11    10
lin 12    11
lin 13    12
lin 14    13
lin 15    14
lin 16    15
lin 17    16
lin 18    17
lin 19    18
lin 20    19
lin 21    20
lin 22    21
lin 23    22
lin 24    23
lin 25    24
dtype: int64

In [ ]:
serie['lin 8']

7

In [5]:
np.random.seed(100)
indice = ['lin 1', 'lin 2', 'lin 3', 'lin 4', 'lin 5',
           'lin 6', 'lin 7', 'lin 8', 'lin 9', 'lin 10',]
coluna = ['col 1', 'col 2', 'col 3', 'col 4', 'col 5',
           'col 6', 'col 7', 'col 8', 'col 9', 'col 10',]
df = DataFrame(np.random.rand(100).reshape((10,10)),
               index=indice,
               columns=coluna)
df

           col 1     col 2     col 3  ...     col 8     col 9    col 10
lin 1   0.543405  0.278369  0.424518  ...  0.825853  0.136707  0.575093
lin 2   0.891322  0.209202  0.185328  ...  0.171941  0.816225  0.274074
lin 3   0.431704  0.940030  0.817649  ...  0.252426  0.795663  0.015255
lin 4   0.598843  0.603805  0.105148  ...  0.059942  0.890546  0.576901
lin 5   0.742480  0.630184  0.581842  ...  0.250695  0.285896  0.852395
lin 6   0.975006  0.884853  0.359508  ...  0.237694  0.044862  0.505431
lin 7   0.376252  0.592805  0.629942  ...  0.387766  0.363188  0.204345
lin 8   0.276765  0.246536  0.173608  ...  0.340385  0.092056  0.463498
lin 9   0.508699  0.088460  0.528035  ...  0.754349  0.313066  0.634037
lin 10  0.540405  0.296794  0.110788  ...  0.641101  0.200124  0.657625

[10 rows x 10 columns]

In [ ]:
# nome_do_objeto.loc[linhas, colunas]
'''Quando você usa o indexador especial .loc[], e passa um conjunto
 de linhas e colunas, o Python entende que ele precisa selecionar e
 buscar apenas aquelas linhas e colunas.'''

df.loc[['lin 1', 'lin 2', 'lin 3', 'lin 4', 'lin 5',
         'lin 6', 'lin 7', 'lin 8', 'lin 9', 'lin 10'], 
         ['col 6', 'col 7', 'col 8', 'col 9', 'col 10']]

           col 6     col 7     col 8     col 9    col 10
lin 1   0.121569  0.670749  0.825853  0.136707  0.575093
lin 2   0.978624  0.811683  0.171941  0.816225  0.274074
lin 3   0.372832  0.005689  0.252426  0.795663  0.015255
lin 4   0.890412  0.980921  0.059942  0.890546  0.576901
lin 5   0.544685  0.769115  0.250695  0.285896  0.852395
lin 6   0.340190  0.178081  0.237694  0.044862  0.505431
lin 7   0.946380  0.602297  0.387766  0.363188  0.204345
lin 8   0.597974  0.731301  0.340385  0.092056  0.463498
lin 9   0.335596  0.805451  0.754349  0.313066  0.634037
lin 10  0.658940  0.254258  0.641101  0.200124  0.657625

Fatiando dados

In [10]:
# ['índice inicial':'índice final']
'''Fatiar dados permite que voce selecione e busque todos os registros
 começando pelo índice inicial até o índice final e todos os registros entre
 esses dois.'''

serie['lin 3':'lin 15']

lin 3      2
lin 4      3
lin 5      4
lin 6      5
lin 7      6
lin 8      7
lin 9      8
lin 10     9
lin 11    10
lin 12    11
lin 13    12
lin 14    13
lin 15    14
dtype: int64

___
## Filtrando dados
___

In [6]:
df

           col 1     col 2     col 3  ...     col 8     col 9    col 10
lin 1   0.543405  0.278369  0.424518  ...  0.825853  0.136707  0.575093
lin 2   0.891322  0.209202  0.185328  ...  0.171941  0.816225  0.274074
lin 3   0.431704  0.940030  0.817649  ...  0.252426  0.795663  0.015255
lin 4   0.598843  0.603805  0.105148  ...  0.059942  0.890546  0.576901
lin 5   0.742480  0.630184  0.581842  ...  0.250695  0.285896  0.852395
lin 6   0.975006  0.884853  0.359508  ...  0.237694  0.044862  0.505431
lin 7   0.376252  0.592805  0.629942  ...  0.387766  0.363188  0.204345
lin 8   0.276765  0.246536  0.173608  ...  0.340385  0.092056  0.463498
lin 9   0.508699  0.088460  0.528035  ...  0.754349  0.313066  0.634037
lin 10  0.540405  0.296794  0.110788  ...  0.641101  0.200124  0.657625

[10 rows x 10 columns]

Comparando com um valor

In [ ]:
# nome_do_objeto < valor
'''Você pode usar operadores de comparação (maior que e menor que) para
  obter True / False para todos os registros para indicar a comparação
  entre cada elemento e o valor de interesse.'''

df < .8

        col 1  col 2  col 3  col 4  col 5  col 6  col 7  col 8  col 9  col 10
lin 1    True   True   True  False   True   True   True  False   True    True
lin 2   False   True   True   True   True  False  False   True  False    True
lin 3    True  False  False   True   True   True   True   True   True    True
lin 4    True   True   True   True   True  False  False   True  False    True
lin 5    True   True   True   True   True   True   True   True   True   False
lin 6   False  False   True   True   True   True   True   True   True    True
lin 7    True   True   True   True  False  False   True   True   True    True
lin 8    True   True   True  False  False   True   True   True   True    True
lin 9    True   True   True  False   True   True  False   True   True    True
lin 10   True   True   True   True   True   True   True   True   True    True

Usando valor escalar para filtrar

In [11]:
# nome_do_objetonome_do_objeto > valor
'''Você também pode usar operadores de comparação e valores escalares 
  para filtrar apenas aqueles registros que satisfazem a comparação.'''

series_obj = serie
filtro = series_obj < 8
series_obj[filtro]

lin 1    0
lin 2    1
lin 3    2
lin 4    3
lin 5    4
lin 6    5
lin 7    6
lin 8    7
dtype: int64

Atualizando valores

In [12]:
# ['índice', 'índice', 'índice'] = valor
'''Você pode atualizar todos os valores de um conjunto de índices.'''

series_obj['lin 1', 'lin 5', 'lin 8'] = 1000
series_obj

lin 1     1000
lin 2        1
lin 3        2
lin 4        3
lin 5     1000
lin 6        5
lin 7        6
lin 8     1000
lin 9        8
lin 10       9
lin 11      10
lin 12      11
lin 13      12
lin 14      13
lin 15      14
lin 16      15
lin 17      16
lin 18      17
lin 19      18
lin 20      19
lin 21      20
lin 22      21
lin 23      22
lin 24      23
lin 25      24
dtype: int64

___
## Encontrando e preenchendo valores em branco
___

Encontrando os valores em branco

In [13]:
'''O NumPy tem embutido nele um objeto chamado np.nan que serve para identificar
  valores em branco'''

branco = np.nan

serie = Series(['linha 1', 'linha 2', branco, 'linha 4', 'linha 5', 'linha 6',
                branco, 'linha 8'])
serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

In [15]:
# nome_do_objeto.isnull()

'''O método .isnull() retornar uma valores booleanos (True ou Falso) se um item 
  dentro de um objeto Pandas é nulo/vazio.'''

serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

Preenchendo valores em branco

In [23]:
df.loc[3:6, col 1] = branco
df.loc[1:8, col 6] = branco
df

SyntaxError: ignored

In [21]:
df

           col 1     col 2     col 3     col 4  ...    col 10   0   6   1
lin 1   0.543405  0.278369  0.424518  0.844776  ...  0.575093 NaN NaN NaN
lin 2   0.891322  0.209202  0.185328  0.108377  ...  0.274074 NaN NaN NaN
lin 3   0.431704  0.940030  0.817649  0.336112  ...  0.015255 NaN NaN NaN
lin 4   0.598843  0.603805  0.105148  0.381943  ...  0.576901 NaN NaN NaN
lin 5   0.742480  0.630184  0.581842  0.020439  ...  0.852395 NaN NaN NaN
lin 6   0.975006  0.884853  0.359508  0.598859  ...  0.505431 NaN NaN NaN
lin 7   0.376252  0.592805  0.629942  0.142600  ...  0.204345 NaN NaN NaN
lin 8   0.276765  0.246536  0.173608  0.966610  ...  0.463498 NaN NaN NaN
lin 9   0.508699  0.088460  0.528035  0.992158  ...  0.634037 NaN NaN NaN
lin 10  0.540405  0.296794  0.110788  0.312640  ...  0.657625 NaN NaN NaN

[10 rows x 13 columns]