<a href="https://colab.research.google.com/github/joaocbjr/Learn_DataScience/blob/main/Cap_3_Matem%C3%A1tica_e_Estat%C3%ADstica_B%C3%A1sicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___
##Arrays e NumPy
___

In [ ]:
import numpy as np
from numpy.random import randn

In [ ]:
np.set_printoptions(precision=2)

###Criando arrays

Criando arrays usando listas

In [ ]:
a = np.array([1,2,3,4,5,6])
a

array([1, 2, 3, 4, 5, 6])

Criando arrays por atribuição

In [ ]:
np.random.seed(30)
b = randn(6)
b

array([-1.26,  1.53, -0.97,  0.47, -0.1 ,  0.3 ])

In [ ]:
c = np.arange(1,51)
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

###Fazendo operações aritméticas com arrays

In [ ]:
a * 10

array([10, 20, 30, 40, 50, 60])

In [ ]:
b + a

array([-0.26,  3.53,  2.03,  4.47,  4.9 ,  6.3 ])

___
##Matrizes e NumPy
___

In [ ]:
import numpy as np
from numpy.random import randn

In [ ]:
np.set_printoptions(precision=2)

Multiplicando matrizes e arrays

In [ ]:
a = np.arange(3)
a

array([0, 1, 2])

In [ ]:
aa = np.array([[2.,4.,6.], [1.,3.,5.], [10.,20.,30.]])
aa

array([[ 2.,  4.,  6.],
       [ 1.,  3.,  5.],
       [10., 20., 30.]])

In [ ]:
a * aa

array([[ 0.,  4., 12.],
       [ 0.,  3., 10.],
       [ 0., 20., 60.]])

Multiplicando matrizes e Produto escalar

In [ ]:
bb = np.arange(9).reshape((3,3))
bb

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
aa * bb

array([[  0.,   4.,  12.],
       [  3.,  12.,  25.],
       [ 60., 140., 240.]])

In [ ]:
# np.dot(primeira_matriz, segunda_matriz)
'''Para executar a multiplicação de matrizes usamos o método do NumPy np.dot() 
  passando para ele, as duas matrizes que queremos multiplicar.'''

np.dot(aa,bb)

array([[ 48.,  60.,  72.],
       [ 39.,  48.,  57.],
       [240., 300., 360.]])

In [ ]:
b = a * 3
b

array([0, 3, 6])

In [ ]:
np.dot(a, b)

15

___
##Investigando valores numéricos
___

In [ ]:
import pandas as pd

In [ ]:
caminho = '/content/mtcars.csv'

carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 
                  'am', 'qtd_marchas', 'carb']

carros.head()

               nomes   mpg  cyl   disp   hp  ...   qsec  vs  am  qtd_marchas  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1            4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1            4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1            4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0            3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0            3     2

[5 rows x 12 columns]

Somatório

In [ ]:
carros.sum()

nomes          Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                        642.9
cyl                                                          198
disp                                                      7383.1
hp                                                          4694
drat                                                      115.09
wt                                                       102.952
qsec                                                      571.16
vs                                                            14
am                                                            13
qtd_marchas                                                  118
carb                                                          90
dtype: object

In [ ]:
carros.sum(axis=1)

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

Mediana

In [ ]:
carros.median()

mpg             19.200
cyl              6.000
disp           196.300
hp             123.000
drat             3.695
wt               3.325
qsec            17.710
vs               0.000
am               0.000
qtd_marchas      4.000
carb             2.000
dtype: float64

Média

In [ ]:
carros.mean()

mpg             20.090625
cyl              6.187500
disp           230.721875
hp             146.687500
drat             3.596563
wt               3.217250
qsec            17.848750
vs               0.437500
am               0.406250
qtd_marchas      3.687500
carb             2.812500
dtype: float64

Máximo

In [ ]:
carros.max()

nomes          Volvo 142E
mpg                  33.9
cyl                     8
disp                  472
hp                    335
drat                 4.93
wt                  5.424
qsec                 22.9
vs                      1
am                      1
qtd_marchas             5
carb                    8
dtype: object

In [ ]:
mpg = carros.mpg
mpg.idxmax()

19

___
## Investigando a disperção de uma variável
___

In [ ]:
import pandas as pd

In [ ]:
caminho = '/content/mtcars.csv'

carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 
                  'vs', 'am', 'qtd_marchas', 'carb']
carros.head()

               nomes   mpg  cyl   disp   hp  ...   qsec  vs  am  qtd_marchas  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1            4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1            4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1            4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0            3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0            3     2

[5 rows x 12 columns]

Desvio padrão

In [ ]:
carros.std()

mpg              6.026948
cyl              1.785922
disp           123.938694
hp              68.562868
drat             0.534679
wt               0.978457
qsec             1.786943
vs               0.504016
am               0.498991
qtd_marchas      0.737804
carb             1.615200
dtype: float64

Variância

In [ ]:
carros.var()

mpg               36.324103
cyl                3.189516
disp           15360.799829
hp              4700.866935
drat               0.285881
wt                 0.957379
qsec               3.193166
vs                 0.254032
am                 0.248992
qtd_marchas        0.544355
carb               2.608871
dtype: float64

Contagem de valores

In [ ]:
# nome_do_objeto.value_counts()
'''O método .value_counts() conta todos os valores em um array ou objeto
  do tipo Series.'''

marchas = carros.qtd_marchas
marchas.value_counts()

3    15
4    12
5     5
Name: qtd_marchas, dtype: int64

Descritivo estatístico

In [ ]:
carros.describe()

             mpg        cyl        disp  ...         am  qtd_marchas     carb
count  32.000000  32.000000   32.000000  ...  32.000000    32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250     3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991     0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000     3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000     3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000     4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000     4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000     5.000000   8.0000

[8 rows x 11 columns]